QWidget {
    background-color: #3f3f40;
    margin: 0px;
}

QLabel {
    font-size: 50%;
    background: transparent;
    margin: 2px 5px;
    qproperty-alignment: 'AlignBottom | AlignLeft';
}

.key {
    background-color: #646464;
    border: 1px solid black;
    color: white;
    font-size: _OSKB_FONTSIZE_px;
    margin: _OSKB_MARGIN_px;
    border-radius: _OSKB_RADIUS_px;
}
.key:pressed {
    background-color: #9d9da7;
    border: 1px solid black;
    font-size: _OSKB_FONTSIZE_px;
    color: white;
    margin: _OSKB_MARGIN_px;
    border-radius: _OSKB_RADIUS_px;
}

.spacer,
.emptyrow {
    background-color: #222222;
    border: none;
    color: #222222;
}

.key:not(modifier):pressed,
.key.pseudomodifier,
.key.held {
    background-color: #9d9da7;
}

.view .key.pseudomodifier,
.key.locked {
    background-color: #cc9999;
}
